services:
  mariadb:
    container_name: mariadb
    build: requirements/mariadb
    image: mariadb
    restart: always
    env_file: .env
    secrets:
      - db_root_password
      - db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception

  wordpress:
    container_name: wordpress
    build: requirements/wordpress
    image: wordpress
    restart: always
    env_file: .env
    secrets:
      - db_password
      - wp_admin_password
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb

  nginx:
    container_name: nginx
    build: requirements/nginx
    image: nginx
    restart: always
    env_file: .env
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ndehmej/data/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/ndehmej/data/wordpress

networks:
  inception:
    driver: bridge

secrets:
  db_root_password:
    file: ../srcs/secrets/db_root_password.txt
  db_password:
    file: ../srcs/secrets/db_password.txt
  wp_admin_password:
    file: ../srcs/secrets/wp_admin_password.txt
